{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		Giuseppe's Resume
	</title>
	<link rel="stylesheet" href="{% static 'resume/home-helper.css' %}?v=1.0">	
</head>
	<body class="page">
		<div class="split name">
			<div class="centered">
				<h2>
					Giuseppe <br>Akbari-Muia
				</h2>
			</div>
		</div>
		<div class="split info">
			<div>
				<h4 class="text-email">Email:</h4>
				<h4 class="text-mail">
					giuseppemuia2005@gmail.com • 647-669-6842
				</h4>
				<h4 class="text-email">
					Linkedin:
				</h4>
				<h4 class="text-mail">
					https://www.linkedin.com/in/giuseppe-muia-78018631a
				</h4>
				<h4 class="text-email">
					• 15 Dobson Crt King, ON L0G 1N0
				</h4>
			</div>
		</div>
		<div class="split exp">
			<div>
				<h2 class="exp-text">
					Professional Experience:
				</h2>
				<h3 class="ox-t">
					Oxford Scholastica<br>
					Summer 2022 <br>
					Computer Science & Coding Internship:
				</h3>
				<h4 class="ox-tabs">
					 Harnessed research skills to dive deep 
					into relevant topics and gather essential data.
				</h4>
				<h4 class="ox-tabs">
					 Demonstrated exemplary time management while 
					balancing multiple tasks and meeting deadlines.
				</h4>
				<h4 class="ox-tabs">
					 Led group discussions and tasks, emphasizing 
					the importance of teamwork and leadership.
				</h4>
				<h4 class="ox-tabs">
					 Engaged in rigorous analytical processes 
					to critically assess information and data.
				</h4>
				<h4 class="ox-tabs">
					 Exhibited self-management, ensuring tasks 
					were completed autonomously and efficiently.
				</h4>
				<h4 class="ox-tabs">
					 Leveraged decision-making skills to make informed choices during the research process.
				</h4>
				<h3 class="ox-t">
					Mark's Warehouse<br>
					Sales Associate<br>
					2022 To Present:
				</h3>
				<h4 class="ox-tabs">
					 Deliver exceptional customer service, ensuring thorough product knowledge dissemination.
				</h4>
				<h4 class="ox-tabs">
					 Collaborate with the team aimed at achieving shared goals
				</h4>
				<h4 class="ox-tabs">
					 Manage customer interactions alongside executing other store-related tasks.
				</h4>
				<h4 class="ox-tabs">
					 Process payments using merchant visa and verified day-end cash balances.
				</h4>
				<h3 class="ox-t">
					Zafferano Ristorante<br>
					BusBoy (Summer Job)<br>
					August 2021 To October 2021
				</h3>
				<h4 class="ox-tabs">
					 Coordinated with restaurant staff aimed at enhancing guest dining experience. 
				</h4>
				<h4 class="ox-tabs"> 
					 Supported team by maintaining, setting, and preparing tables for guests.
				</h4>
				<h4 class="ox-tabs"> 
					 Addressed guest needs promptly, ensuring a satisfactory dining experience.
				</h4>
				<h4 class="ox-tabs">
					 Engaged with guests through greeting and addressing queries. 
				</h4>
			</div>
		</div>
		<div class="split2 pic">
			<div>
				<h1>
					This will be a picture
				</h1>
			</div>
		</div>
		<div class="split2 skill">
			<div>
				<h2 class="skl-text">
					Acquired Skill's:
				</h2>
				<h3 class="skl-hd">
					Core Competencies:
				</h3>
				<h5 class="skl-sm">
					Versatile Programming Languages | Software Engineering Principles | 
					Database Concepts | Networking Basics | 
					Analytical Thinking & Data Assessment | Research & Information Gathering | 
					<br>Time Management & Multi-tasking | Team Collaboration | 
					<br>Customer Service Excellence | Decision-making & Problem-solving | 
					Relationships Management | Self-driven & Autonomous Task Management | 
					Interpersonal Communication & Engagement | Communication Skills
				</h5>
				<h3 class="skl-hd">
					Programming Languages:
				</h3>
				<h5 class="skl-sm">
					Python | Java | C | C++ | Assembly | HTML | CSS | SQL | SQLite3
				</h5>			
				
			</div>
		</div>
		<div class="split3 edu">
			<div>
				<h2 class="edu-text">
					Education Status:
				</h2>
				<h3 class="wlu-text">
					Bachelor’s in Computer Science,<br>
					2023 – Present | Wilfrid Laurier University
				</h3>
				<h5 class="wlu-con">
					Upcoming Bachelor’s in Computer Science graduate from Wilfrid Laurier University with foundational expertise in algorithms, data structures, and diverse programming languages.
				</h5>
				<h5 class="wlu-con">
					Acquiring foundational knowledge in algorithms and data structures
					for effective problem-solving. Gaining familiarity with multiple programming languages to support versatile software development needs. Developing understanding of basic database concepts, ensuring effective data organization and retrieval. Cultivating skills in software engineering principles aimed at ensuring robust and maintainable system designs. Grasping introductory concepts of machine learning, artificial intelligence, and networking to lay groundwork for specialized areas.
				</h5>
				<h3 class="wlu-text">
					High School Diploma; graduated with <br>honor roll & principal award, 2019 – 2023 |<br> St. Thomas of Villanova, King City, ON
				</h3>
			</div>
		</div>
	</body>
</html>


<!--  >
		<div class="split2 secondlevel-right">
			<div class="centered">
				<h1>
					personal info
				</h1>
			</div>
		</div>
		<div class="split3 thirdlevel-left">
			<div class="centered">
				<h1>
					This will be another section
				</h1>
			</div>
		</div>
		<div class="split3 thirdlevel-middle">
			<div class="centered">
				<h1>
					This is another section
				</h1>
			</div>
		</div>

-->

